.button {
    background-color: #6558f5;
    border-radius: 5px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    min-width: 120px;
    height: 62px;
    margin: 0 15px;
}

.button:disabled {
    background-color: grey;
}

/* Variants */

/* Delete */
.button_delete {
    background: #d3455a;
    color: #FFFFFF;
}
